body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.www{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    padding:20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    webkit-flex-flow: row wrap;
    ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width:300px;
}

.movieElement {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    margin:20px;
    width:20%;
    padding:20px;
}

.movieElement:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);

}

.moviePic {

    border-radius: 5px 5px 0 0;
    width:100%;
}

.container {
    width:960px;
    margin: auto;
    position: relative;
    padding: 2px 2px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;


}
